/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Jaldi", sans-serif;
  color: #4a3553;
  background-color: #ffffff;
}

a {
  color: #ffb251;
  text-decoration: none;
}

/* -------------------------------- 

Slider

-------------------------------- */
.cd-slider-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  /* hide horizontal scrollbar on IE11 */
  overflow: hidden;
}
.cd-slider-wrapper .cd-slider, .cd-slider-wrapper .cd-slider > li {
  height: 100%;
  width: 100%;
}

.cd-slider > li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* used to vertically center its content */
  display: table;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-slider > li.visible {
  /* selected slide */
  position: relative;
  z-index: 2;
  opacity: 1;
}
.cd-slider > li:first-of-type {
  background-color: #4a3553;
  background-image: url(../img/img-1.jpg);
}
.cd-slider > li:nth-of-type(2) {
  background-color: #ffb251;
  background-image: url(../img/img-2.jpg);
}
.cd-slider > li:nth-of-type(3) {
  background-color: #7d7160;
  background-image: url(../img/img-3.jpg);
}
.cd-slider > li:nth-of-type(4) {
  background-color: #ff625a;
  background-image: url(../img/img-4.jpg);
}
.cd-slider > li:first-of-type, .cd-slider > li:nth-of-type(2), .cd-slider > li:nth-of-type(3), .cd-slider > li:nth-of-type(4) {
  background-size: cover;
}
.cd-slider > li > div {
  /* vertically center the slider content */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.cd-slider > li h2, .cd-slider > li p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 auto 14px;
  color: #ffffff;
  width: 90%;
  max-width: 320px;
}
.cd-slider > li h2 {
  font-size: 2.4rem;
}
.cd-slider > li p {
  font-size: 1.4rem;
  line-height: 1.4;
}
.cd-slider > li .cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: .25em;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.no-touch .cd-slider > li .cd-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 768px) {
  .cd-slider > li h2, .cd-slider > li p {
    max-width: 520px;
  }
  .cd-slider > li h2 {
    font-size: 2.4em;
    font-weight: 300;
  }
  .cd-slider > li .cd-btn {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-slider > li h2, .cd-slider > li p {
    margin-bottom: 20px;
  }
  .cd-slider > li h2 {
    font-size: 3.2em;
  }
  .cd-slider > li p {
    font-size: 1.8rem;
  }
}

/* -------------------------------- 

Slider navigation

-------------------------------- */
.cd-slider-navigation {
  position: absolute;
  bottom: 50px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  text-align: center;
  width: 90%;
}
.cd-slider-navigation::after {
  clear: both;
  content: "";
  display: table;
}
.cd-slider-navigation li {
  display: inline-block;
  margin-right: 20px;
}
.cd-slider-navigation li:last-of-type {
  margin-right: 0;
}
.cd-slider-navigation a {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  background: url(../img/cd-icon-navigation.svg) no-repeat -10px -10px;
  border-radius: 50%;
  background-color: #ffffff;
}
.no-touch .cd-slider-navigation a:hover em {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s, -webkit-transform 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s, -moz-transform 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s, transform 0.2s 0s;
}
.cd-slider-navigation li.selected:first-of-type a {
  /* change custom icon using image sprites */
  background-position: -10px -70px;
}
.cd-slider-navigation li:nth-of-type(2) a {
  background-position: -70px -10px;
}
.cd-slider-navigation li.selected:nth-of-type(2) a {
  background-position: -70px -70px;
}
.cd-slider-navigation li:nth-of-type(3) a {
  background-position: -130px -10px;
}
.cd-slider-navigation li.selected:nth-of-type(3) a {
  background-position: -130px -70px;
}
.cd-slider-navigation li:nth-of-type(4) a {
  background-position: -190px -10px;
}
.cd-slider-navigation li.selected:nth-of-type(4) a {
  background-position: -190px -70px;
}
.cd-slider-navigation em {
  /* tooltip visible on hover */
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  padding: 8px 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  font-size: 1.3rem;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(3px);
  -moz-transform: translateX(-50%) translateY(3px);
  -ms-transform: translateX(-50%) translateY(3px);
  -o-transform: translateX(-50%) translateY(3px);
  transform: translateX(-50%) translateY(3px);
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s, -webkit-transform 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s, -moz-transform 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s, transform 0.2s 0s;
}
.cd-slider-navigation em::after {
  /* tooltip arrow */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -10px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 1170px) {
  .cd-slider-navigation a {
    height: 60px;
    width: 60px;
  }
  .cd-slider-navigation li:first-of-type a {
    /* change custom icon using image sprites */
    background-position: 0 0px;
  }
  .cd-slider-navigation li.selected:first-of-type a {
    /* change custom icon using image sprites */
    background-position: 0 -60px;
  }
  .cd-slider-navigation li:nth-of-type(2) a {
    background-position: -60px 0;
  }
  .cd-slider-navigation li.selected:nth-of-type(2) a {
    background-position: -60px -60px;
  }
  .cd-slider-navigation li:nth-of-type(3) a {
    background-position: -120px 0;
  }
  .cd-slider-navigation li.selected:nth-of-type(3) a {
    background-position: -120px -60px;
  }
  .cd-slider-navigation li:nth-of-type(4) a {
    background-position: -180px 0;
  }
  .cd-slider-navigation li.selected:nth-of-type(4) a {
    background-position: -180px -60px;
  }
}

/* -------------------------------- 

svg cover layer

-------------------------------- */
.cd-svg-cover {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.cd-svg-cover path {
  fill: #ffe8c9;
}
.cd-svg-cover.is-animating {
  z-index: 4;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}



/* Helper classes */
html,
body {
  overflow: hidden;
  height: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.noscroll .container {
  overflow-y: hidden;
}

.slider {
  position: relative;
  z-index: 200;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 7em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.slide {
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  opacity: 0;
}

.slide--current {
  position: relative;
  z-index: 100;
  visibility: visible;
  opacity: 1;
}

.slide__mover {
  position: relative;
  z-index: 100;
}

.slide__title {
  font-size: 1.75em;
  font-weight: normal;
  margin: 0 auto;
  padding: 1em 0 0 0;
}

.slide__title span {
  font-size: 55%;
  font-weight: bold;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #35303d;
}

.slider__nav {
  position: absolute;
  bottom: 2em;
  width: 100%;
  text-align: center;
}

.button {
  font-size: 1.31em;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 25px;
  padding: 0;
  cursor: pointer;
  color: #5c5edc;
  border: none;
  background: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: #fff;
}

.text-hidden {
  position: absolute;
  top: 200%;
}

.button--close {
  font-size: 1.55em;
  position: absolute;
  top: 30px;
  right: 30px;
  margin: 0;
  opacity: 0;
  color: #50505a;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.content--open .button--close {
  opacity: 1;
}

/* Zoomer */
.zoomer {
  position: relative;
  height: 360px; /* this is needed for IE10 so that vertical flexbox centering works */
}

.flex-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.zoomer__image {
  display: block;
  margin: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.zoomer__area,
.preview {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.zoomer__area:focus {
  outline: none;
}

.zoomer__area--size-1 {
  /* Apple Watch */
  width: 96px;
  height: 118px;
}

.zoomer__area--size-2 {
  /* iPhone */
  width: 112px;
  height: 198px;
}

.zoomer__area--size-3 {
  /* MacBook */
  width: 315px;
  height: 200px;
}

.zoomer__area--size-4 {
  /* iPad */
  width: 150px;
  height: 200px;
}

.zoomer__area--size-5 {
  /* iMac */
  width: 315px;
  height: 189px;
}

.preview {
  overflow: hidden;
  background: #18191b;
}

.preview img {
  display: block;
  border-radius: inherit;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.zoomer--active .preview img {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.rounded {
  border-radius: 15px;
}

.rounded-right {
  border-radius: 0 15px 15px 0;
}

.preview__content {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
/* Content */
.content {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -100%;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background: #18191b;
  -webkit-overflow-scrolling: touch;
}

.content--open {
  left: 0;
}

.content__item {
  position: absolute;
  top: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 0;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em 0;
  pointer-events: none;
  opacity: 0;
  color: #fff;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content__item--current {
  pointer-events: auto;
  opacity: 1;
}

.content__item--reset {
  height: auto;
}

.content h2 {
  font-size: 3.5em;
  font-weight: normal;
  margin: 0;
}

.content h3 {
  font-size: 1.95em;
  font-weight: normal;
  margin: 0.25em 0 0.5em;
  color: #685884;
}

.content p {
  font-size: 1.25em;
  line-height: 1.5;
}

.content__item-img {
  display: block;
  max-width: 40vw;
  max-height: 80vh;
  -webkit-transform: translate3d(-120%,0,0);
  transform: translate3d(-120%,0,0);
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.content__item--current .content__item-img {
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
}

.content__item-inner {
  padding: 0 10vw 0;
  opacity: 0;
  -webkit-transform: translate3d(0,50px,0);
  transform: translate3d(0,50px,0);
}

.content__item--current .content__item-inner {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/**************************/
/* All synced transitions */
/**************************/

.zoomer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.zoomer.zoomer--notrans {
  -webkit-transition: none;
  transition: none;
}

.zoomer__image {
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}

.zoomer--active .zoomer__image {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.preview img {
  -webkit-transition: -webkit-transform 0.6s 0.3s;
  transition: transform 0.6s 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.zoomer--active .preview img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.content {
  -webkit-transition: left 0s;
  transition: left 0s;
}

.content__item {
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}

.content,
.content__item {
  /* delay for content to disappear and zoomer to start transitioning back to 0 */
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.content--open,
.content__item--current {
  -webkit-transition: none;
  transition: none;
}

.content__item-img {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,1,0.8,1);
  transition-timing-function: cubic-bezier(0.7,1,0.8,1);
}

.content__item--current .content__item-img {
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.content__item-inner {
  -webkit-transition: -webkit-transform 0.6s, opacity 0.3s;
  transition: transform 0.6s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7,1,0.8,1), ease;
  transition-timing-function: cubic-bezier(0.7,1,0.8,1), ease;
}

.content__item--current .content__item-inner {
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1), ease;
  transition-timing-function: cubic-bezier(0.2,1,0.3,1), ease;
  -webkit-transition-duration: 1.7s;
  transition-duration: 1.7s;
}

/* Media Queries */
@media screen and (max-width: 50em) {
  .content__item {
    display: block;
  }
  .content__item-img {
    max-width: calc(100% - 80px);
    max-height: 70vh;
  }
  .content h2 {
    font-size: 3em;
  }
  .content__item-inner {
    font-size: 82%;
    padding: 4em 3em 2em;
  }
}